<div class="float-md-right btn-group">
 <%= link_to 'Detalhar', @mensagem, class: "btn btn-secondary" %>
 <%= link_to 'Voltar', mensagens_path, class: "btn btn-secondary" %>
</div>
<h1>Editar Mensagem</h1>
<%= render 'form' %>